.tophead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.icons {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 5px;
}

.socialicons {
  font-size: 17px;
  padding: 5px;
  background-color: rgb(228, 228, 228);
  border-radius: 5px;
}

.socialicons:hover {
  background-color: #ff8f9c;
  color: white;
}

.toptext {
  font-weight: bold;
  font-size: 13px;
  color: grey;
}

.toptext span {
  font-weight: normal;
}

.dropdown select {
  color: grey;
  font-size: 12px;
  width: 75px;
}

.dropdown select:nth-child(2) {
  width: 90px;
}

@media only screen and (max-width: 980px) {
  .icons {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  .tophead {
    display: none;
  }
}
